@page "/create"
@using System.Runtime.CompilerServices;
﻿@using System.ComponentModel.DataAnnotations;
@using ClientApp.Models;
@using System.ComponentModel

<div class="GiftHouseIncoporated">
    <button onclick="@Login" class="giftLogin"> Login </button>
<div class="giftHouseCreation">
    <div class="createButton1">
        <button id="clickHouseButton"> Click to Create a GiftHouse! </button>
    <div class="createHouseForm">
        <EditForm Model="@GiftHouseData" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="houseButtons1">
                <label>
                    Enter A GiftHouse Name
                    <InputText @bind-Value="GiftHouseData!.HouseName" />
                </label>
            </div> <!-- end houseButtons1 -->
            <div class="houseButtons2">
                <label>
                    Enter a Name/Psyudeonym
                    <InputText @bind-Value="GiftHouseData!.CreatorName" />
                </label>
            </div><!-- end houseButtons2 -->
            <div class="submitHouse">
                <button id="submit" class="btn btn-primary" type="submit"> Create A GiftHouse </button>
            </div><!-- end submitHouse -->
            <p class="messageStore">@MessageStore</p>
        </EditForm>
        </div> <!-- end createHouseForm -->
        </div> <!-- end createButton1 -->
</div> <!-- end GiftHouseCreation -->

<br />

</div> <!-- end GiftHouseIncoporated -->