@page "/create" 
@using System.Runtime.CompilerServices;
﻿@using System.ComponentModel.DataAnnotations;

<div class="HomeCreate">
    <div class="CreateBubble">
        <a class="bi-x-square-fill" id="CloseCreateBubble" href="/homepage"></a>
    <h1> Create Home </h1>

        <EditForm FormName="CreateGiftHome" Model="@GiftHouseData" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />

            <div class="NameButton">
                <label for="HouseNameLabel" style="text-align:left;">
                    Enter a Gifthouse name
                    </label>
                <InputText id="HouseNameLabel" @bind-Value="@GiftHouseData!.HouseName" placeholder="Name here" />
                <ValidationMessage For="() => GiftHouseData.HouseName" />

            </div> <!-- end NameButton -->

            <div class="EmailButton">
                <label for="EmailLabel" style="text-align:left;">
                    Add others
                    </label> <br />
                <InputText id="EmailLabel" @bind-Value="@GiftHouseData!.Email" placeholder="Enter the recipient email" AutoComplete=true />
                <ValidationMessage For="() => GiftHouseData.Email" />
            </div><!-- end EmailButton -->

            <div class="CreateEmailList">
                <EmailList />
            </div> <!-- end CreateEmailList -->

            <div class="submitButton">
                <button id="submit" class="btn btn-primary" type="submit"> Create Gifthouse </button>
            </div><!-- end submitButton -->

            <p class="messageStore">@MessageStore</p>
        </EditForm>

        </div> <!-- end CreateBubble -->
 </div> <!-- end GiftHouseCreation --> 