@page "/homepage"

<div id="HomepageGiftAll"> 
    @if (HasNoHouses)
    {
        <div class="textContainer">
            <p class="text">You have not been addded to or created any households </p>
            <p class="text"> <ShowModal> click here </ShowModal> to create a household! </p>
        </div>
    }
    else
    {
        <div id="GiftAppHome">
            @foreach (var house in Houses)
            {
                <HouseCard Model="@house"/>
            }
        </div> <!-- end GiftAppHome-->
    }

</div> <!-- end homepageGiftAll -->

<BottomNav />
