* {
    margin: 0 auto;
}

#HomepageGiftAll {
    margin-top: 3%;
    display: flex;
    width: 100%;
}

.HomeGroup {
    display: column;
    columns: 2;
    width: 100%;
}

::deep .HomeGroup > * {
    break-inside: avoid;
    margin-bottom: 2em;
}
