@page "/homepage"

<UserInviteList />

<LoadingIndicator IsLoading="@IsLoading">
<div id="HomepageGiftAll"> 
    @if (HasNoHouses)
    {
        <div class="textContainer">
            <p class="text">You have not been addded to or created any households </p>
            <p class="text"> <UniversalModal ModalParameters="CenterModalParameters"> click here </UniversalModal> to create a household! </p>
        </div>
    }
    else
    {
        <div class="HomeGroup" id="GiftAppHome">
            @foreach (var house in Houses)
            {
                <HouseCard Model="@house"/>
            }
        </div> <!-- end GiftAppHome-->
    }
</div> <!-- end homepageGiftAll -->
</LoadingIndicator>
