@page "/homepage"

<div id="HomepageGiftAll"> 
    @if (HasNoHouses)
    {
        <CreateHome></CreateHome>
    }
    else
    {
        <div id="GiftAppHome">
            @foreach (var house in Houses)
            {
                <HouseCard Model="@house"/>
            }
        </div> <!-- end GiftAppHome-->
    }
    <div class="footer">
        <BottomNav />
    </div> <!-- end footer-->

</div> <!-- end homepageGiftAll -->