@page "/homepage"
@using Microsoft.FluentUI.AspNetCore.Components

<UserInviteList/>

<FluentPullToRefresh OnRefreshAsync="ShouldRefreshHousesAsync" ShowStaticTip="false">
    <PullingTemplate>
        Pull to refresh
    </PullingTemplate>
    <ReleaseTemplate>
        Release to update
    </ReleaseTemplate>
    <CompletedTemplate>
        Update completed
    </CompletedTemplate>
    <ChildContent>
        <LoadingIndicator IsLoading="@IsLoading">
            <div id="HomepageGiftAll">
                @if (HasNoHouses)
                {
                    <div class="textContainer">
                        <p class="text">You have not been addded to or created any households </p>
                        <p class="text">
                            <UniversalModal ModalParameters="CenterModalParameters"> click here</UniversalModal>
                            to create a household!
                        </p>
                    </div>
                }
                else
                {
                    <div class="HomeGroup" id="GiftAppHome">
                        @foreach (var house in Houses)
                        {
                            <HouseCard Model="@house"/>
                        }
                    </div>
                    <!-- end GiftAppHome-->
                }
            </div> <!-- end homepageGiftAll -->
        </LoadingIndicator>
    </ChildContent>
</FluentPullToRefresh>
