@page "/"
﻿@using System.ComponentModel.DataAnnotations;
@using ClientApp.Models;

<header>
    <h1>Gifting App</h1>
    <h2>Lets Gift the Families!</h2>
</header> <!-- maybe put in MainLayout?-->


<button>Click to Create a GiftHouse!</button>
<br />

<div class="createHouse" style="border:1px solid black;">

    <EditForm Model="@GiftHouseData" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div style="margin-bottom: 10px;">
            <label class="label-size">
                Enter A GiftHouse Name
            <InputText @bind-Value="GiftHouseData!.HouseName" />
            </label>
        </div> 

        <div style="margin-bottom: 10px;">
            <label class="label-size">
                Enter a Name/Psyudeonym
            <InputText @bind-Value="GiftHouseData!.CreatorName" />
            </label>
        </div>

        <div style="margin-top: 10px;">
            <button class="btn btn-primary" type="submit"> Create A GiftHouse </button>
        </div>

        <p style="margin-top: 20px;">@MessageStore</p>
    </EditForm>

</div> <!-- end createHouse -->
<br />

<button>Click to Join a GiftHouse!</button>

@code {
    public GiftHouse? GiftHouseData { get; set; } 
    public EditContext? EditContext { get; set; }
    public string MessageStore { get; set; } = "";

    protected override void OnInitialized()
    {
        GiftHouseData = new GiftHouse(); 
        EditContext = new EditContext(GiftHouseData);

    }

    public void Submit()
    {
        MessageStore = $"Is House {GiftHouseData?.HouseName} + Name/Alias {GiftHouseData?.CreatorName} Correct?";
        GiftHouseData = new GiftHouse();
    }
}

