<<<<<<< Updated upstream
* {
    margin: 0 auto;
    font-family: 'Courier New';
    border-radius: 12px;
}

#HomepageGiftAll {
    min-height: 100%;
=======

.textContainer {
    margin: auto;
}

.text {
    align-content: var(--align-content);
}
.text, .createTooltip {
    text-align: var(--text-align);
}
#HomepageGiftAll {
    height: 100%;
>>>>>>> Stashed changes
}

#GiftAppHome {
    width: 100%;
    flex-flow: row wrap;
}

#HomepageGiftAll, #GiftAppHome {
     display: var(--display);
}

.createTooltip {
     font-weight: 900;
}
