* {
    margin: 0 auto;
}

#HomepageGiftAll {
    margin-top: 3%;
    display: flex;
}

.HomeGroup {
    columns: 2;
}

::deep .HomeGroup > * {
    break-inside: avoid;
    --card-margin: 0 0 2em 0;
}

@media screen and (max-width: 900px) {
    .HomeGroup {
        columns: 1;
        min-width: 80vw;
    }
    ::deep .HomeCard {
        min-width: 80vw;
    }
}