@page "/house/{HouseId:int}"

<LoadingIndicator IsLoading="@_isLoading">
    <div id="HousePage">
        @if (!_userLists.Any())
        {
            <p>No created lists</p>
        }
        @foreach (var list in _userLists)
        {
            <ListCard Model="list" HouseId="HouseId" />
        }
    </div>
</LoadingIndicator>
