@page "/invite"

<div class="GiftInvite">
    <div class="inviteBubble">
        <a class="bi-x-square-fill" id="CloseInviteBubble" href="/profile"> </a>
    <h1> Invite User </h1>
        <form>
            <div class="InviteEmailList"> 
                <EmailList OnUserInvited="OnUserInvited" />
            </div> <!-- end InviteEmailList -->

            <input type="submit" value="Invite!" >
        </form>

        <div class="confirmationStatus">
            <p class="inviteStatus"> ~PendingInvite </p>
        </div> <!-- end confirmationStatus -->

    </div> <!-- end inviteBubble -->
</div> <!-- end GiftInvite --> 