@page "/invite"

<div class="GiftInvite">

    <div class="inviteBubble">
        <a class="bi-x-square-fill" id="CloseInviteBubble" href="/profile"> </a>
    <h1> Invite User </h1>

        <form>
            <label for="email" class="emailLabel"> Enter recipients email </label>
            <input type="email" id="recipientsEmail" name="email" placeholder="name@email.com" required>

            <div class="InviteEmailList"> 
                <ul class="AddEmail"> 
                    <li>  email@email.com <span class="addBtn"> Add </span> </li>
                    <li>  email@email.com <span class="addBtn"> Add </span> </li>
                    <li> email@email.com <span  class="addBtn">Add</span> </li>
                </ul>
            </div> <!-- end InviteEmailList -->

            <input type="submit" value="Invite!" >
        </form>

        <div class="confirmationStatus">
            <p class="inviteStatus"> ~PendingInvite </p>
        </div> <!-- end confirmationStatus -->

    </div> <!-- end inviteBubble -->

</div> <!-- end GiftInvite --> 