@page "/house/{HouseId:int}/list/{ListId:int}/{ListName}/owner/{UserId:int}/{OwnerName}"

<LoadingIndicator IsLoading="@_isLoading">
    <div class="header">
        <div class="name">
            <span>@ListName</span>
            <span>@OwnerName</span>
        </div>
    </div>
    <div class="wrapper">
        @foreach (var item in _itemsInList)
        {
            <ItemCard 
                Model="item" 
                OwnerId="UserId" 
                ListId="ListId" 
                OnItemDeleted="@this.OnItemDeleted" />
        }
    </div>
</LoadingIndicator>
