* {
    margin: 0 auto;
}

.name {
    color: black;
    padding-top: 20px;
}

.owner {
    font-size: 22px;
}
h2 {
    border-bottom: 1px solid var(--card-text-color);
}
.wrapper {
    color: var(--card-text-color);
    display: flex;
    flex-flow: column;
    align-content: space-evenly;
    width: 80%;
    height: 100%;
}

