* {
    text-align: center;
    font-family: 'Courier New';
    border-radius: 12px;
}

body {
    height: 100%;
}

.GiftAllLogin {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePage {
    width: 75%;
}

h1 {
    font-size: 50px;
}

.giftLogin {
    margin-top: 5px;
    padding: 7px;
}
    .giftLogin a {
        text-decoration: none;
    }
