body {
    height: 100%;
}

.GiftAllLogin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePage {
    width: 75%;
}

h1 {
    font-size: 50px;
}
