@page "/"

<div class="GiftAllLogin">
    <div class="titlePage"> <h1> GIFT ALL </h1>

        <a href="/homepage"><button class="giftLogin"> LOGIN </button></a>
    </div> <!-- end titlePage -->

</div> <!-- end GiftAllLogin -->