body {
    height: 100%;
}

::deep .login-button {
    background-color: var(--login-button-bg);
    border: none;
    text-align: center;
    font-size: 25px;
}

.GiftAllLogin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePage {
    width: 75%;
}

h1 {
    font-size: 50px;
}
