@page "/"

<div class="GiftAllLogin">
    <div class="titlePage"> <h1> GIFT ALL </h1>
        <button class="giftLogin" onclick="@OnLoginClickedAsync"> LOGIN </button>
    </div> <!-- end titlePage -->
</div> <!-- end GiftAllLogin -->