* {
    margin: var(--margin);
}

#mainNav h1, ul {
    margin-top: 1%;
    text-align: var(--text-align);
    border: 5px solid black;
    border-radius: 20px;
    width: 25%;
    padding: 0;
}

#mainNav h1 {
    width: 44%;
}

#mainNav ul li {
    list-style: none;
}

    #mainNav ul li a {
        text-decoration: none;
        font-style: italic;
    }
    #mainNav h1, #mainNav ul li a {
        color: var(--color);
    }