@inherits LayoutComponentBase

<div class="page">
    <main>
            @Body
     </main>
</div>

<Modal IsServiceModal="true" />

@code {
    [Inject] ModalService ModalService { get; set; } = default!;
}

<!-- note, Modals from BlazorBootstrap can only be used once a page(?)-->