
* {
    text-align: center;
    font-family: Overused Grotesk, Cambria, Georgia, serif;
}

.page {
    display: flex;
    height: 90vh;
}

main {
    flex: 1;
    display: flex;
    height: 100%;
    height: 100%;
    flex-direction: column;
    flex-flow: column nowrap;
}
