.page {
    display: flex;
    height: 100%;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    height: 100%;
    height: 100%;
    flex-direction: column;
    flex-flow: column nowrap;
}
