﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" Match="NavLinkMatch.All"> GiftAll </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-gift-nav-menu" aria-hidden="true"></span> Login Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/homepage" Match="NavLinkMatch.All">
                <span class="bi bi-gift-nav-menu" aria-hidden="true"></span> Homepage
            </NavLink>
        </div>
        <div class="nav-item px-3"> 
            <NavLink class="nav-link" href="/invite" Match="NavLinkMatch.All">
                <span class="bi bi-gift-nav-menu" aria-hidden="true"></span> InviteHome
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/create" Match="NavLinkMatch.All">
                <span class="bi bi-gift-nav-menu" aria-hidden="true"></span> CreateHome
            </NavLink>
            </div>
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="/profile" Match="NavLinkMatch.All">
                    <span class="bi bi-gift-nav-menu" aria-hidden="true"></span> Practice
            </NavLink>
            </div>
    </nav>
</div>