<div>
    <p>
        Are you sure you want to proceed?
    </p>
    <Button @onclick="() => OnSubmitCompleted.InvokeAsync()">
        Yes
    </Button>
    <Button @onclick="() => OnClose.InvokeAsync()">
        No
    </Button>
</div>