* {
    margin: 0 auto;
    font-family: 'Courier New';
    border-radius: 12px;
}

.bottomNav {
    height: 5em;
    background-color: rgb(171, 90, 90);
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex inline !important;
    flex-direction: row !important;
    align-items: center;
}

.plusCreateHouse, .profileButton, .backToHomepage {
    display: block;
    width: 24px;
    height: 24px;
}

    a.create {
    background-image: url(/Images/gift.png);
}