<div class="bottomNav">

    <div class="backToHomepage">
        <a class="backbutton" href="/giftsFor">
            <img src="/Images/backhome.png" asp-append-version="true" width="50" />
            </a>
            </div> <!-- hide when not needed? -->

    <div class="plusCreateHouse">
        <a class="create" href="/create"> <img src="/Images/gift.png" asp-append-version="true" width="50" height="50" /> <span class="webCreate"> Create </span> </a>
    </div> <!-- end plusCreateHouse -->

    <div class="profileButton"> <a class="profile" href="/invite"> </a> </div> <!-- end profileButton -->

</div> <!-- end bottom nav -->