<div class="bottomNav">

    <div class="backToHomepage">
        @if (GoBackUrl != null && GoBackUrl.Any())
        {
                <a class="backbutton" href="@GoBackUrl">
                    <img src="/Images/arrow_back_64.png" asp-append-version="true" width="24" />
                </a>
        }
    </div> <!-- hide when not needed? -->

    <div class="plusCreateHouse">
        <UniversalModal ModalParameters="CenterModalParameters">
            <img src="/Images/add_64.png" asp-append-version="true" width="24" height="24" />
        </UniversalModal>
    </div> <!-- end plusCreateHouse -->

    <div class="profileButton"> 
         <img src="Images/account_circle_64.png" asp-append-version="true" width="24" height="24"/>     
    </div> <!-- end 

    profileButton -->

</div> <!-- end bottom nav -->