<div class="bottomNav">

    <div class="backToHomepage">
        @if (GoBackUrl != null && GoBackUrl.Any())
        {
                <a class="backbutton" href="@GoBackUrl">
                <Icon CustomIconName="fa-solid fa-arrow-left" Size="IconSize.x5"/>
                </a>
        }
    </div> <!-- hide when not needed? -->

    <div class="plusCreateHouse">
        <CascadingValue Value="@ListId" Name="ListId">
            <CascadingValue Value="@HouseId" Name="HouseId">
                <UniversalModal ModalParameters="CenterModalParameters">
                    <Icon CustomIconName="fa-solid fa-plus" Size="IconSize.x5"/>
                </UniversalModal>
            </CascadingValue>
        </CascadingValue>
    </div> <!-- end plusCreateHouse -->

    <div class="profileButton" > 
        <a href="/profile"><Icon CustomIconName="fa-regular fa-circle-user" Size="IconSize.x5" /></a>
    </div> <!-- end profileButton -->

</div> <!-- end bottom nav -->