<div class="bottomNav">

<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    <div class="backToHomepage">
        <a class="backbutton" href="/giftsFor">
            <img src="/Images/backhome.png" asp-append-version="true" width="50" />
            </a>
            </div> <!-- hide when not needed? -->

    <div class="plusCreateHouse">
        <a class="create" href="/create"> <img src="/Images/gift.png" asp-append-version="true" width="50" height="50" /> <span class="webCreate"> Create </span> </a>
    </div> <!-- end plusCreateHouse -->

    <div class="profileButton"> <a class="profile" href="/invite"> </a> </div> <!-- end profileButton -->
=======
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
    <div class="back">
        @if (CanGoBack)
        {
                <a class="back" href="/giftsFor">
                    <img src="/Images/arrow_back_64.png" asp-append-version="true" width="24" />
                </a>
        }
    </div> 

    <div class="plusCreateHouse">
        <ShowModal OnCloseCallback="OnCreateClosed">
            <img src="/Images/add_64.png" asp-append-version="true" width="24" height="24" />
        </ShowModal> 
    </div> 

    <div class="profile"> 
         <img src="Images/account_circle_64.png" asp-append-version="true" width="24" height="24"/>     
    </div> 

<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes

</div> 