@using System.Runtime.CompilerServices;

<div class="HomeCreate">
    <div class="CreateBubble">
        <EditForm Model="@HouseData" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />

            <div class="NameButton">
                <label for="HouseNameLabel" style="text-align:left;">
                    Enter a Gifthouse name
                    </label>
                <InputText id="HouseNameLabel" @bind-Value="@HouseData!.Name" placeholder="Name here" />
                <ValidationMessage For="() => HouseData.Name" />

            </div> <!-- end NameButton -->

            <div class="EmailButton">
                <label for="EmailLabel" style="text-align:left;">
                    Add others
                </label> <br />
                <EmailList OnUserInvited="OnUserInvited" />
            </div><!-- end EmailButton -->

                @if ( _usersToInvite.Count > 0 )
                {
                <div class="invite-users-group">
                    <label class="invited-users-header">Invited Users</label>
                    <div class="invited-users-container">
                            <SortableList TItem="User"
                                          Data="_usersToInvite"
                                          Context="item"
                                          AllowSorting="false">
                                <ItemTemplate>
                                    @item.Email
                                </ItemTemplate>
                            </SortableList>
                    </div>
                </div>     
                }

                <div class="submitButton">
                    <button id="submit" class="btn btn-primary" type="submit"> Create Gifthouse </button>
                </div><!-- end submitButton -->
        </EditForm>
        </div> <!-- end CreateBubble -->
 </div> <!-- end GiftHouseCreation --> 