<div id="EmailList">
    <ul class="AddEmail">
        <input placeholder="Enter email" @bind="_inputString" @oninput="OnInputChanged"/>
        @foreach (var user in _possibleUsers)
        {
            <li>
                <p>@user.Email</P>
                <span class="addBtn" @onclick="() => InviteUser(user)"> Add </span>
            </li>
        }
    </ul>
</div> <!-- end EmailList -->