<div id="EmailList">
    <AutoComplete DataProvider="UsersDataProvider"
                  Placeholder="Enter email"
                  @bind-Value="_inputString"
                  TItem="User"
                  PropertyName="Email"
                  OnChanged="(User user ) => OnAutoCompleteChanged( user )"
                  StringComparison="StringComparison.Ordinal" />
</div> <!-- end EmailList -->