@if (!CanToggle)
{
    <Icon CustomIconName="@(isFavorited ? "fa-solid fa-heart" : "fa-regular fa-heart")" />
    return;
}

<Button @onclick=@( async () => await ToggleFavoriteAsync() )>
    <Icon CustomIconName="@(isFavorited ? "fa-solid fa-heart" : "fa-regular fa-heart")" />
</Button>

