@page "/giftsFor"

<div id="GiftsFor"> 

    <div id="GiftTitle" class="@HomeTitle">
        <h1> @HomeTitle </h1>
        <a class="mmBurger"><img src="/Images/mmburger.png" /> </a>
    </div> <!-- end HomeTitle -->

    <div class="GiftsFor-Body"> 
        <UserCard />
        <UserCard />
    </div> <!-- end GiftsFor-Body -->
    <@BottomNav /> 
</div> <!-- end GiftsFor -->

@code {

    string? HomeTitle = "Kylee's Home";
}