<div id="Home">
    <Card Color="CardColor.Secondary" Id="@Model.Name">
        <CardLink Style="text-decoration:none; color: white;" To="/homepage">
            <CardBody onclick="" Style="min-height: 8em;">
                <div id="HomeTitle">
                    <CardTitle Size="HeadingSize.H3">@Model.Name</CardTitle>
                </div> <!-- end HomeTitle-->
            </CardBody>
        </CardLink>
    </Card>
</div> <!-- end Home -->
<!-- note: foreach to add card to home every addition?-->

@code {
    [Parameter]
    public House Model { get; set; } = new();
}