@using ClientApp.Components.Extra.Forms
@using ClientApp.Services
@using ClientApp.Utils
@implements IDisposable

<div id="Home">
    <Card Class="HomeCard" TextAlignment="Alignment.Start" Id="@Model.Name">
        <CardTitle Class="HomeHouseTitle" Size="HeadingSize.H3">
            <div class="HeaderContainer">
                <span class="HomeHouseText">@Model.Name</span>
                <CascadingValue Value="@Model.Id" Name="HouseId">
                    <div>
                        @if (_ownsHouse)
                        {
                            <UniversalModal ModalParameters="_manageUsersParameters">
                                <Button Size="ButtonSize.Small">
                                    <Icon CustomIconName="fa-solid fa-user-plus" />
                                </Button>
                            </UniversalModal>
                        }
                        <UniversalModal ModalParameters="_createListParameters">
                            <Button Size="ButtonSize.Small">
                                <Icon CustomIconName="fa-solid fa-plus" />
                            </Button>
                        </UniversalModal>
                    </div>
                </CascadingValue>
            </div>
        </CardTitle>

        @if (!@Model.Lists.Any())
        {
            return;
        }

        <CardBody>
                <ChildContent>
                    <div class="wrapper">
                        @foreach (var list in Model.Lists)
                        {
                            <ListCard Model="list" HouseId="Model.Id" />
                        }
                    </div>
                </ChildContent>
        </CardBody>
    </Card>
</div> <!-- end Home -->
@code {
    [Parameter]
    public House Model { get; set; } = new();

    [Inject] public UserInfoService UserInfoService { get; set; } = null!;

    [Inject] public ListPageObserver ListPageObserver { get; set; } = null!;

    private bool _isLoading = true;

    private List<UserList> _userLists { get; set; } = new();

    private CenterModalParameters? _createListParameters;

    private CenterModalParameters? _manageUsersParameters;

    private bool _ownsHouse = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _ownsHouse = UserInfoService.GetUserInfo()!.Id == Model.Owner;
        _manageUsersParameters = new CenterModalParameters(typeof(Invite), "Manage Users", EventCallback.Empty);
        _createListParameters = new CenterModalParameters(typeof(CreateList), "Create a list", EventCallback.Empty);
    }

    protected override void OnInitialized()
    {
        ListPageObserver.OnCreated += OnListCreated;
    }

    private void OnListCreated(object? sender, UserList list )
    {
        if (!Model.Lists.Contains(list))
        {
            Model.Lists.Add(list);
        }
    }

    public void Dispose()
    {
        ListPageObserver.OnCreated -= OnListCreated;
    }
}