#Home {
<<<<<<< Updated upstream
    width: 46.6%;
    margin: 1%;
    overflow-x: hidden !important;
    overflow-y: auto !important;
=======
    margin: 1vh 1vw 1vw 1vh;
    font-family: var(--font-family);
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}

#HomeTitle {
    color: plum !important;
}
