#Home {
    margin: var(--card-margin);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
}

::deep .HomeHouseTitle {
    color: var(--card-text-color);
    text-wrap: pretty;
    text-overflow: ellipsis;
}

::deep .HomeHouseCards {
    text-decoration: none;
}