#Home {
    margin: var(--card-margin);
    width: var(--card-width);
    text-align: left;
}

::deep .HomeTitle {
    color: var(--card-text-color);
    text-wrap: pretty;
    text-overflow: ellipsis;
}

::deep .footer-text {
    color: var( --card-text-color);
}