@using ClientApp.Services
@using ClientApp.Utils
<div id="Home">
    <Card Class="HomeCard" TextAlignment="Alignment.Start" Id="@Model.Name">
        <CardTitle Class="HomeHouseTitle" Size="HeadingSize.H3">
            <div class="HeaderContainer">
                <span class="HomeHouseText">@Model.Name</span>
                <CascadingValue Value="@Model.Id" Name="HouseId">
                    <UniversalModal ModalParameters="_createListParameters">
                        <Button Size="ButtonSize.Small">
                            <Image Class="AddButtonSize" IsResponsive="true" Src="/images/add_64.png" />
                        </Button>
                    </UniversalModal>
                </CascadingValue>
            </div>
        </CardTitle>

        @if (!_isLoading && !_userLists.Any())
        {
            return;
        }

        <CardBody>
            <LoadingIndicator IsLoading="_isLoading">
                <CustomLoadingContent>
                    <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
                        <Placeholder Width="PlaceholderWidth.Col7" />
                        <Placeholder Width="PlaceholderWidth.Col9" />
                        <Placeholder Width="PlaceholderWidth.Col6" />
                        <Placeholder Width="PlaceholderWidth.Col7" />
                    </PlaceholderContainer>
                </CustomLoadingContent>
                <ChildContent>
                    <div class="wrapper">
                        @foreach (var list in _userLists)
                        {
                            <ListCard Model="list" HouseId="Model.Id" />
                        }
                    </div>
                </ChildContent>
            </LoadingIndicator>
        </CardBody>
    </Card>
</div> <!-- end Home -->
@code {
    [Parameter]
    public House Model { get; set; } = new();

    [Inject] public ListService ListService { get; set; } = null!;

    private bool _isLoading = true;

    private List<UserList> _userLists { get; set; } = new();

    private CenterModalParameters? _createListParameters;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _createListParameters = new CenterModalParameters(typeof(CreateList), "Create a list", EventCallback.Factory.Create(this, GetListsAsync));
    }

    protected override void OnInitialized()
    {
        GetListsAsync().SafeFireAndForget();
    }

    private async Task GetListsAsync()
    {
        _isLoading = true;
        StateHasChanged();

        _userLists = await ListService.GetListsAsync(Model.Id);
        _isLoading = false;
        StateHasChanged();
    }
}