<div id="Home">
    <Card Color="CardColor.Secondary" Id="@Model.Name">
        <CardBody Style="min-height: 8em;">
            <CardLink Style="text-decoration:none; color: white;" To="/homepage">
                <div id="HomeTitle">
                    <CardTitle Size="HeadingSize.H3">@Model.Name</CardTitle>
                </div> <!-- end HomeTitle-->
            </CardLink>
        </CardBody>
    </Card>
</div> <!-- end Home -->
<!-- note: foreach to add card to home every addition?-->
@code {
    [Parameter]
    public House Model { get; set; } = new();
}