#Home {
    margin: var(--card-margin);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    background-color: var(--card-background-color);
    border-color: var(--card-border-color);
}

.wrapper {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
}

.line-break {
    border: black solid 1px;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
}

::deep .AddButtonSize {
    height: 2em;
    width: 2em;
}

::deep .HomeCard {
    padding: 10px;
    min-width: 45vw;
    border: 1px solid black;
}

.HomeHouseText {
    margin-right: 2vw;
}

::deep .HomeHouseTitle {
    color: var(--card-text-color);
    text-wrap: pretty;
    text-overflow: ellipsis;
}

::deep .HomeHouseCards {
    text-decoration: none;
}

::deep .dropdown-toggle::after {
    display: none;
}

.user-lists-header {
    display: flex;
    justify-content: space-between;
}

.user-owned-lists {
    margin-top: 1%;
    background-color: var(--card-background-color-secondary);
    padding: 10px;
    border-radius: 6px;
}

