#Home {
    margin: var(--card-margin);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.wrapper {
    margin-top: 3%;
    display: flex;
    width: 100%;
    flex-flow: column wrap;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
}

::deep .AddButtonSize {
    height: 2em;
    width: 2em;
}

::deep .HomeCard {
    padding: 10px;
    min-width: 45vw;
    border: 1px solid black;
}

.HomeHouseText {
    margin-right: 2vw;
}

::deep .HomeHouseTitle {
    color: var(--card-text-color);
    text-wrap: pretty;
    text-overflow: ellipsis;
}

::deep .HomeHouseCards {
    text-decoration: none;
}

::deep .dropdown-toggle::after {
    display: none;
}