* {
    margin: 0 auto;
}.invite-card-wrapper {
    display: flex;
    align-items: center;
    height: 7vh;
}

hr {
    margin-top: 1%;
}

@media (min-width: 1000px) {

    hr {
        display: none;
    }
}