@using ClientApp.Services
@using SharedModels
<div class="invite-card-wrapper">
    <span> @Model!.House!.OwnerName invited you to @Model.House.Name </span>
    @if (_responded)
    {
        <span>@_respondedText</span>
    }
    else
    {
        <div>
            <Button Class="status-btn" @onclick="@(() => UpdateInviteStatusAsync(accepted: true))"> Accept </Button>
            <Button Class="status-btn" @onclick="@(() => UpdateInviteStatusAsync(accepted: false))"> Decline </Button>
        </div>
    }
</div>

@code {

    [Inject] InviteService InviteService { get; set; } = null!;
    [Inject] UserInfoService UserInfoService { get; set; } = null!;
    [Inject] HousePageObserver HousePageObserver { get; set; } = null!;
    [Parameter] public UserInvites Model { get; set; } = null!;

    private bool _responded = false;
    private string _respondedText = string.Empty;

    public async Task UpdateInviteStatusAsync(bool accepted)
    {
        var userId = UserInfoService.GetUserInfo()!.Id;
        var request = new UpdateInviteRequest
        {
            HouseId = Model!.House!.Id,
            Status = (int) ( accepted ? InviteStatus.Accepted : InviteStatus.Rejected ),
            UserId = userId

        };
        var response = await InviteService.RespondToUpdate(request);
        if (response.IsSuccessStatusCode)
        {
            if ( accepted )
            {
                HousePageObserver.NotifyHouseCreated(Model!.House);
            }

            _responded = true;
            _respondedText = accepted ? "Accepted!" : "Declieded!";
            StateHasChanged();
        }
    }
}
