<div class="GiftInvite">
    <div class="inviteBubble">
        <a class="bi-x-square-fill" id="CloseInviteBubble" href="/profile"> </a>
    <h1> Invite User </h1>
        <form>
            <div class="InviteEmailList"> 
                <EmailList OnUserInvited="@OnUserInvitedAsync" />
            </div> <!-- end InviteEmailList -->

            <input type="submit" value="Invite!" >
        </form>

        <div>
            @foreach (var invite in InvitedUsers)
            {
                <ManageUser HouseId="HouseId" Model="invite" />
            }
        </div>

    </div> <!-- end inviteBubble -->
</div> <!-- end GiftInvite --> 