@using ClientApp.Services
@using SharedModels
<div>
    <span> @Model!.House!.OwnerName invited you to @Model.House.Name </span>
    @if (_responded)
    {
        <span>@_respondedText</span>
    }
    else
    {
        <button @onclick="@(() => UpdateInviteStatusAsync( accepted: true))"> Accept </button>
        <button @onclick="@( ()=> UpdateInviteStatusAsync( accepted: false))"> Decline </button>
    }
</div>

@code {

    [Inject] InviteService InviteService { get; set; } = null!;

    [Inject] UserInfoService UserInfoService { get; set; } = null!;

    [Parameter] public UserInvites Model { get; set; } = null!;

    private bool _responded = false;
    private string _respondedText = string.Empty;

    public async Task UpdateInviteStatusAsync(bool accepted)
    {
        var userId = UserInfoService.GetUserInfo()!.Id;
        var request = new UpdateInviteRequest
        {
            HouseId = Model!.House!.Id,
            Status = (int) ( accepted ? InviteStatus.Accepted : InviteStatus.Rejected ),
            UserId = userId

        };
        var response = await InviteService.RespondToUpdate(request);
        if (response.IsSuccessStatusCode)
        {
            _responded = true;
            _respondedText = accepted ? "Accepted!" : "Declieded!";
            StateHasChanged();
        }
    }
}
