.card-wrapper {
    margin: var(--card-margin);
    width: 100%;
    text-align: left;
    display: flex;
    flex-flow: column;
}

.card-body {
    display: flex;
}

.text-wrapper {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 24px;
}

::deep .text-override {
    color: var(--card-text-color);
}

.init-icon {
    display: flex;
    flex-grow: 1;
    max-height: 5vh;
    flex-shrink: 0;
    width: 5vw;
    min-width: 86px;
}

.dropdown {
    display: flex;
    flex-grow: 1;
    max-height: 5vh;
    flex-shrink: 0;
    width: 5vw;
    min-width: 64px;
}

.text-link {
   
}

.text-link a {
    text-decoration: none;
}

.text-link {

}

.description {
}

.text-description {
    word-break: break-word;
    width: 90vw;
}

::deep .dropdown-toggle::after {
    display: none;
}