
#GiftItemEdits {
    display: flex;
    flex-direction: column;
}

.FavoriteItem, .UpdateBuyer, .Modify {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

::deep .FavoriteItem * {
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    text-align: left;
}

::deep .UpdateBuyer * {
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    text-align: left;
}

::deep .Modify * {
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    text-align: left;
}