<div class="card-wrapper">
    <div class="card-body">
        <div class="init-icon">
            <Button><Image Src="/images/favorite_64.png"></Image></Button>
        </div>
        <div class="text-description">
            <div class="text-wrapper">
                <p>@Model.Name</p>
            </div>
            <div class="description">
                <p>@Model.Description</p>
            </div>
        </div>
        <div class="dropdown">
        <Dropdown >
            <DropdownToggleButton>
                <Image Src="/images/more_vert_64.png"></Image>
            </DropdownToggleButton>
            <DropdownMenu>
                <DropdownItem>
                    Edit
                </DropdownItem>
                <DropdownItem>
                    Delete
                </DropdownItem>
            </DropdownMenu>
        </Dropdown>
        </div>
    </div>
</div>