<div class="card-wrapper">
    <Card>
        <CardLink Class="link" To=@($"/house/{HouseId}/list/{Model.Id}/owner/{Model.Owner}")>
            <CardBody>
                <CardTitle Class="text-override">@Model.Name</CardTitle>
                <CardSubTitle Class="text-override">@Model.OwnerName</CardSubTitle>
            </CardBody>
        </CardLink>
    </Card>
</div>
