.ListCard {
    background-color: var(--card-background-color);
    border-color: var(--card-border-color);
}

.card-wrapper {
    margin-top: 1%;
}

::deep .text-override {
    color: var(--card-text-color);
}

::deep .link {
    text-decoration: none;
}

::deep .card-subtitle {
    color: black;
}

.body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}
