<div class="card-wrapper">
    <Card>
        <CardLink Class="link" Disabled="EditMode"
                  To=@(EditMode ? null : $"/house/{HouseId}/list/{Model.ListId}/{Model.Name}/owner/{Model.Owner}/{Model.OwnerName}")>
            <CardBody>
                <div class="body-container">
                    <div class="text-container">
                        <CardTitle Class="text-override">
                            <div class="list-name">
                                @Model.Name
                            </div>
                        </CardTitle>
                        <CardSubTitle Class="text-override">@Model.OwnerName</CardSubTitle>
                    </div>
                    @if (EditMode)
                    {
                        <div class="delete-container">
                            <UniversalModal ModalParameters="_deleteListParameters">
                                <Button onclick="">
                                    Delete
                                </Button>
                            </UniversalModal>
                        </div>
                    }
                </div>
            </CardBody>
        </CardLink>
    </Card>
</div>
