.card-wrapper {
    margin: var(--card-margin);
    text-align: left;
}

::deep .text-override {
    color: var(--card-text-color);
}

::deep .link {
    text-decoration: none;
}

::deep .card-subtitle {
    color: black;
}
