<div class="card-wrapper">
    <Card>
        <CardLink Class="link" Disabled="EditMode" To=@(EditMode ? null : $"/house/{HouseId}/list/{Model.ListId}/{Model.Name}/owner/{Model.Owner}/{Model.OwnerName}")>
            <CardBody>
                <CardTitle Class="text-override">
                    <div class="header-container">
                        <div class="list-name">
                            @Model.Name
                        </div>
                        @if (EditMode)
                        {
                            <div class="dropdown-container">
                                <UniversalModal ModalParameters="_deleteListParameters">
                                    <Button onclick="">
                                        <Icon CustomIconName="fa-solid fa-x"/>
                                    </Button>
                                </UniversalModal>
                            </div>
                        }
                    </div>
                </CardTitle>
                <CardSubTitle Class="text-override">@Model.OwnerName</CardSubTitle>
            </CardBody>
        </CardLink>
    </Card>
</div>
