@using ClientApp.Utils;

<div class="manage-user-container">
    <span>@Model!.User!.Name</span> 
    <span>@( wasDeleted ? "removed" : Model.InviteStatus.ToDisplayString())</span> 
    @if ( !wasDeleted)
    {
        <Button @onclick="@DeleteUserFromHouseAsync"> 
            <Icon CustomIconName="fa-solid fa-x"  Size="IconSize.x5"/>
        </Button>
    }
</div>