.* {
    margin: var(--margin);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    color: var(--color);
}
.bi-x-square-fill {
        /* x-square-fill */
        position: absolute;
        right: 2%;
        top: -1%;
        color: #AB5A5A;
        font-size: 40px;
    }

/* Responsive layout */
@media screen and (max-width: 700px) {
}