<div id="OutsideBorder">

    <div id="MainSection">
        <a class="bi-x-square-fill" id="CloseInviteBubble" href="www.ecosia.org"> </a>
        <h1 id="MainH1"> Invite User </h1>

        <form>
            <label for="email" class="emailLabel"> Enter recipients email </label>
            <input type="email" id="recipientsEmail" name="email" placeholder="name@email.com" required>

            <div class="EmailList">
                <ul class="AddEmail">
                    <li>  email@email.com <span class="addBtn"> Add </span> </li>
                    <li>  email@email.com <span class="addBtn"> Add </span> </li>
                    <li> email@email.com <span class="addBtn">Add</span> </li>
                </ul>
            </div> <!-- end EmailList -->

            <input type="submit" id="submitBubble" value="Gift Submitted">
        </form>

        <div class="confirmationStatus">
            <p class="inviteStatus"> ~PendingInvite </p>
        </div> <!-- end confirmationStatus -->

    </div> <!-- end MainSection -->

</div> <!-- end OutsideBorder --> 