<Modal @ref="@popUpEmail" Title="Enter Recipients Email" IsVerticallyCentered="true" IsScrollable="true">
    <BodyTemplate>
        <EmailList> </EmailList>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary">Add email(s)</Button>
    </FooterTemplate>
</Modal>

<Button Color="ButtonColor.Secondary" @onclick="OnShowModalClick">Create Home by adding emails</Button>

@code {
    [Inject] ModalService ModalService { get; set; } = default!;
    private Modal popUpEmail = default!;

    private async Task OnShowModalClick()
    {
        await popUpEmail.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await popUpEmail.HideAsync();
    }


}