@if ( ModalParameters != null)
{
    <Modal @ref="modal" IsVerticallyCentered="true" Size="ModalSize.Large" Title="@ModalParameters.Title">
        <BodyTemplate>
            <CascadingValue Value="OnSubmitCompleted">
                <DynamicComponent Type="@ModalParameters.TypeOfModal" />
            </CascadingValue>
        </BodyTemplate>
    </Modal>
    
    @if (ChildContent != null)
    {
        <span onclick="@ShowModalAsync"> @ChildContent</span>
    }
}