@if (!Invites.Any())
{
    return;
}

<div class="InvitesContainer">
    <span> Invites </span>
    <SortableList AllowSorting="false" Context="item" Data="@Invites" TItem="UserInvites">
        <ItemTemplate>
            <InviteCard Model="@item" />
        </ItemTemplate>
    </SortableList>
</div>
