* {
    margin: 0 auto;
    border-radius: 12px;
    color: #75ab5a;
}

.modal-backdrop {
    z-index: 0 !important;
}

.modal-backdrop.show {
    z-index: 0 !important;
}

.ItemCreate {
    z-index: 0;
    margin-top: 2%;
    width: 100%;
    line-height: 1.8;
}

.CreateBubble {
    padding-top: 1%;
    border-radius: 50px 15px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    margin: 20px;
}

.bi-x-square-fill {
    /* x-square-fill */
    position: absolute;
    right: 2%;
    top: -1%;
    font-size: 40px;
}

.CreateItemList {
    padding: 5px;
    background-color: #848484;
    position: relative;
}

label, p.messageStore, #submit, input {
    font-size: 22px;
}

label {
    width: 85%;
}

.Button {
    margin: 10px;
}

button {
    background-color: #AB5A5A;
    border: none;
    padding: 5px;
}

#submit, #submit:hover, #submit:active {
    width: 55%;
    background-color: #AB5A5A;
    color: black;
    padding: 10px;
    margin: 5% 20% 5%;
}

/* responsive */

@media only screen and (max-width: 700px) {
    .ItemCreate {
        flex-direction: column;
        align-items: center;
    }

    .CreateBubble {
        flex: 50%;
    }

}

@media only screen and (max-width: 500px) {
    .ItemCreate {
        flex: 100%;
        max-width: 100%;
    }
}
