@using System.Runtime.CompilerServices;

<div class="ItemCreate">
    <div class="CreateBubble">
        <EditForm Model="@ItemData" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />

            <div class="Button">
                <label for="ItemNameLabel" style="text-align:left;">
                    Change the items name
                </label>
                <InputText id="ItemNameLabel" @bind-Value="@ItemData!.Name" placeholder="Name here" />
                <ValidationMessage For="() => ItemData.Name" />
            </div><!-- end NameButton -->

            <div class="Button">
                <label for="ItemDescriptionLabel" style="text-align:left;">
                    Change the items description
                </label>
                <InputText id="ItemDescriptionLabel" @bind-Value="@ItemData!.Description" placeholder="Description here" />
                <ValidationMessage For="() => ItemData.Description" />
            </div><!-- end NameButton -->

            <div class="sub mitButton">
                <button disabled="@_submitting" id="submit" class="btn btn-primary" type="submit"> Edit item </button>
            </div><!-- end submitButton -->
        </EditForm>
    </div> <!-- end CreateBubble -->
</div> <!-- end GiftHouseCreation --> 