

.manage-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.manage-label {
    text-align: center;
    border-bottom: 1px solid black;
    width: 50%;
}

.GiftInvite {
    margin-top: 2%;
    width: 100%;
    line-height: 1.8;
}

.empty-users {
    font-size: 22px;
}


.invite-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.bi-x-square-fill {
    /* x-square-fill */
    position: absolute;
    right: 2%;
    top: -1%;
    font-size: 40px;
}

.inviteBubble {
    position: relative;
    padding-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::deep .list {
    margin: 20px;
    max-height: 40vh;
}

label {
    margin-left: 10px;
    font-size: 22px;
    width: 100%;
}

input[type=email] {
    width: 96%;
    text-align: left;
    margin-left: 10px;
}

    input[type=email]:focus, input[type=email]:hover, input[type=email]:active {
        background-color: #848484;
    }

.InviteEmailList {
    margin: 3%;
}

input[type=submit] {
    text-align: center;
    font-size: 22px;
    margin: 20px 0 0 100px;
    width: 55%;
    background-color: #AB5A5A;
    border: none;
    padding: 5px;
}

.confirmationStatus {
    visibility: hidden;
    margin: 5px;
}


/* Responsive layout */
@media screen and (max-width: 700px) {
    input [type=submit] {
        width: 100%;
        margin-top: 10px;
    }

    .GiftInvite {
        flex-direction: column;
        align-items: center;
    }

    .InviteBubble {
        flex: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .GiftInvite {
        flex: 100%;
        max-width: 100%;
    }

    input[type=submit] {
        margin-left: 50px;
    }
}
